/* App.css */

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #282c34;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar li a:hover {
  text-decoration: underline;
}

h1 {
  color: #282c34;
  font-size: 36px;
  margin-top: 20px;
}

p {
  font-size: 18px;
  margin: 20px;
  text-align: center;
}
